@import url(variables.css);

@font-face {
    font-family: "Bold";
    src: url(../storage/fonts/PublicSans-Bold.ttf);
}
@font-face {
    font-family: "Regular";
    src: url(../storage/fonts/PublicSans-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--color-1-2);
}

.mainGrid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 18% 64% 18%;
    grid-template-rows: 1;
}

.mainGridSection{
    border: 1px solid green;
}


#mGS1{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 12% 88%;
}
.mGS1Section{
    border: 1px solid pink;
}


#mGS3{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 12% 74% 14%;
}
.mGS3Section{
    border: 1px solid pink;
}


#mGS2{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 12% 20% 54% 14%;
}
.mGS2Section{
    border: 1px solid pink;
}
#mGS2SGrid{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(3, 1fr);
}
.mGS2SGGridSection{
    border: 1px solid pink;
}



.infoGalery1{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    height: 88vh;
}
.iG1Element{
    display: grid;
    grid-template-columns: 40px calc(100% - 40px);
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 20px;
}
.iG2Element{
    display: grid;
    grid-template-columns: 74% 26%;
    grid-template-rows: repeat(2, 1fr);
    height: 60px;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 20px;
}
.iG2ElementSection{
    display: flex;
    align-items: center;
    font-family: "Bold", sans-serif;
    color: #ffffff;
    font-size: 12px;
}
.iG1ElementImg{
    display: flex;
    justify-content: center;
    filter: invert();
}
.iG1ElementTitle{
    border: none;
}

.iG1Title{
    font-family: "Bold", sans-serif;
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 10px;
}
.iG1Text{
    font-family: "Regular", sans-serif;
    color: #ffffff90;
    font-size: 12px;
}
.iG1Img{
    margin-top: 6px;
    width: 24px;
    height: 24px;
}

.bar{
    width: 90%;
    height: 14px;
    background-color: #323232;
    border-radius: 10px;
}
.barProgress{
    width: 60%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--color-2);
}