:root{
    --color-b1: #16182E;
    --color-b2: #353656;
    --color-1: #15172D;
    --color-2: #00eeff;
    --color-3: #2994F2;
    --color-4: #14162C;
    --color-4-2: #14162C80;
    --color-1-2: #1F213A;
}