:root{
    --color-b1: #16182E;
    --color-b2: #353656;
    --color-0: #00000000;
    --color-1: #000000;
    --color-2: #00eeff;
    --color-3: #c300ff;
    --color-4: #000000;
    --color-4-2: #14162C80;
    --color-1-2: #1F213A;
}